<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutページ</title>
</head>

<body>
    <h1>
        {{pageTitle}}
    </h1>
    <p>{{content}}</p>
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
</body>

</html>